.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 900;
  height: 900;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  width: 1000px;
  height: 1000px;
}

.square-space {
  text-align: center;
  line-height: 90px;
  background-color: beige;
  width: 100px;
  height: 100px;
  font-size: 30px;
  font-weight: bold;
}

#black-square {
  background-color: rgb(116, 74, 55);
}

#white-square {
  background-color: rgb(237, 238, 190);
}

img {
  height: 100px;
  width: auto;
}
